@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductDTO

<div class="col-lg-3 col-md-4 col-sm-6 mb-4" onclick="ViewProduct(@Model.Id)">
    <div class="card h-100 text-center">
        @* <div class="card-header bg-primary"> *@
        <div class="card-header bg-white border-0 p-1">
            @* <span class="badge text-white py-2 px-3">وفر @(@Model.Price - @Model.DiscountPrice) جنيه🔥</span> *@
            <span class="badge bg-primary text-white py-2 px-3"><img src="/img/hot.png" class="fireIcon" /> وفر @(@Model.Price - @Model.DiscountPrice) جنيه</span>
        </div>
        <img src="@((Model.MainImageUrl != null && Model.MainImageUrl != "") ? Url.Content($"~/{ImagesPathes.Products}{Model.MainImageUrl}") : Url.Content($"~{ImagesPathes.DefaultImage}"))" class="card-img-top" alt="@Model.ArbName">

        <div class="card-body">
            <div class="d-flex align-items-center justify-content-center mb-3">
                <!-- Additional Divs -->
                @if (Model.FreeShipping)
                {
                    <div class="me-2 bg-fire text-white DiscountDiv fw-bold ">
                        <img src="/img/hot.png" class="fireIcon" /> شحن مجاني
                    </div>
                }
                @if (Model.EnableProductCountsOffers && Model.ProductCountsOffers != null && Model.ProductCountsOffers.Any())
                {
                    if (Model.ProductCountsOffers.Any(c => c.Count == 2))
                    {
                        <div class="me-2 bg-fire text-white DiscountDiv fw-bold">
                            <img src="/img/hot.png" class="fireIcon" /> عرض قطعتين
                        </div>
                    }
                    else
                    {
                        <div class="me-2 bg-fire text-white DiscountDiv fw-bold">
                            <img src="/img/hot.png" class="fireIcon" /> عرض @Model.ProductCountsOffers.First().Count قطع
                        </div>
                    }
                }
            </div>
            <h5 class="card-title cairo-extra-bold">@Model.ArbName</h5>
            <div class="rating cairo-main mb-2">
                <span class="text-muted">(327 تقييم)</span>
                <div class="stars">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                </div>
            </div>
            @* <p class="card-text cairo-extra-bold">@Model.DiscountPrice جنيه</p> *@
            <p class="card-text cairo-extra-bold DiscountPrice">
                @Model.DiscountPrice جنيه <span class="text-muted">بدلاً من</span> <span class="text-muted beforeOffer"><del class="text-muted originalPrice">@Model.Price جنيه</del></span>
            </p>
            <div class="d-flex justify-content-between">
                @if (Model.StockCount > 0)
                {
                    <a asp-action="ViewProduct" asp-controller="Products" asp-area="User" asp-route-id="@Model.Id" class="btn btn-outline-primary cairo-main"><i class="fas fa-shopping-cart"></i></a>
                    <a asp-action="BuyNow" asp-controller="Products" asp-area="User" asp-route-id="@Model.Id" class="btn btn-outline-primary cairo-main">شراء الآن</a>
                }
                else
                {
                    <h5 class="text-center text-white bg-danger w-100 px-2 py-1 rounded-2">غير متوفر في المخزون</h5>
                }

            </div>
        </div>
    </div>
</div>